[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyterlab = "*"
jupyterlab-hide-code = "*"
handcalcs = "*"
forallpeople = "*"
jupyterlab-lsp = "*"
python-lsp-server = {extras = ["all"], version = "*"}
pandas = "*"
sympy = "*"
scipy = "*"

[dev-packages]

[requires]
python_version = "3.10"
